@import "../App.scss";
.products__page {
  display: flex;
  justify-content: space-between;
  margin-top: 8em !important;
}
.products__page__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(104, 104, 104, 0.1);
  padding: 2em;
}
.search__result__container__vacancies-filter-panel {
  width: 22%;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0px 10px 30px rgba(104, 104, 104, 0.1);
  margin-right: 2em;
}
.search__result__container__vacancies-filter-panel-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.search__result__container__vacancies-filter-panel-heading {
  font-size: 22px;
  font-weight: 600;
  color: $font-color;
}
.search__result__container__vacancies-filter-panel-heading-row-btn {
  background-color: #e0f9f9;
  border: none;
  border-radius: 8px;
  padding: 0.6em 1em;
  font-size: 14px;
}
.range__select {
  width: 100px;
  margin-left: 1em;
}
.range__select .select__control {
  border: none !important;
  outline: none !important;
}
.range__select .select__control--is-focused {
  border: none !important;
  outline: none !important;
}
.search__result__container__vacancies-filter-panel-heading-row-btn:hover {
  background-color: darken(#e0f9f9, 10%);
}
.search__result__container__vacancies-filter-panel-input-range {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
.search__result__container__vacancies-filter-panel-input-range-input {
  -webkit-appearance: none;
  flex: 1;
  height: 5px;
  border-radius: 5px;
  background: $primary;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-right: 1em;
}
.search__result__container__vacancies-filter-panel-input-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $highlite;
  cursor: pointer;
}
.search__result__container__vacancies-filter-panel-input-range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $highlite;
  cursor: pointer;
}
.search__result__container__vacancies-filter-panel-input-range-buble {
  color: $highlite;
}
.search__result__container__vacancies-filter-panel-sub-heading {
  font-size: $normal-font-size;
  color: $font-color;
  margin-top: 2em;
  font-weight: bold;
}
.search__result__container__vacancies-filter-panel-input {
  margin-top: 0.5em;
  background-color: $primary;
  border-radius: 8px;
  border: none;
  color: $font-color;
  font-size: 14px;
  width: 100%;
  padding: 0.7em 1em;
  outline-color: #049dff;
}
.search__result__container__vacancies-filter-panel-info {
  font-size: 16px;
  color: #049dff;
}
.search__result__container__vacancies-filter-panel-catagory-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #777777;
    font-size: 12px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-bottom: 1em;
  }

  // Box.
  & + label:after {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #e1e1e1;
    border-radius: 5px;
  }

  // Box hover
  &:hover + label:after {
    background: #049dff;
  }

  // Box focus
  &:focus + label:after {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:after {
    background: #049dff;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:after {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:before {
    content: "";
    position: absolute;
    right: 13px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
.search__result__container__vacancies-filter-panel-catagory-heading {
  font-size: $normal-font-size !important;
  color: $font-color !important;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-decoration: none !important;
  padding: 0em !important;
}
.search__result__container__vacancies-filter-panel-catagory-heading:hover {
  color: #049dff !important;
}
@media (max-width: 920px) {
  .products__page {
    flex-direction: column;
  }
  .search__result__container__vacancies-filter-panel {
    width: 100%;
    margin-bottom: 2em;
  }
  .products__page__content {
    flex-direction: column;
  }
}
